extends main

block title
  | 关于濮家饼

block sidebar
  nav
    ul#sidenav.coral
      li
        a(href="/about/brand") 品牌文化
      li
        a(href="/about/news") 品牌动态

block content
  h3 关于濮家饼
  aside
    img(src='../images/about01.jpg', width='193', height='133', alt='An image of one of our skilled pastry bakers introducing a batch of our fabulous savoury pies into an oven')
  p.intro.indent
    | 上海莱达林实业有限公司康康食品厂成立于1995年，是专业生产糖果、巧克力的民营企业。经过17年艰辛的打拼，康康人在行业中树立起自己的品牌，所有员工以能成为康康人而骄傲、自豪。
  p.indent
    | 康康人始终以食品安全为首要责任，谨慎筛选所有原辅材料，任何材料的选取均由采购部、生产部、品控部联合审批、确认后，索样、试样，再经过最高管理层的认可后进行采购。所有材料入库均由品控部带头检验，且品控部不定时抽查原辅材料仓库内原料的贮存状况，发现存在质量问题的原料，予以退货、封存、销毁，并记录备案。
  aside.bd
    img(src='../images/about02.jpg', width='218', height='215', alt='Three images depicting business as usual at Keith Cakes: The first image displays one of our bakers carefully setting the icing on top of a cupcake. The second image features some of our treats: cupcakes and croissants. The third image showcases our barista lovingly making latte art on top of a frothy and delicions espresso!')
  p.indent
    | 每年对所有供应商进行综合评定，建立有效、适用的合格供应商名录，坚决把不稳定因素扼杀在萌芽之中，在实际生产过程中，所有生产第一线员工，进入高清洁区域前，必须经过二次更衣，佩戴口罩、帽子，进行手部清洗、消毒、烘干，再经过风淋房后，进入生产区域。品控部每天随机抽取2名员工进行手部细菌残留检查，每周两次每次随机抽取4-8名员工进行工作服细菌残留抽查，杜绝人为因素的隐患。所有产成品必须经金属探测仪探查无金属物残留后，方可进行外包，极大程度减少金属物的危害。
  p.indent
    | 康康人不断的在实践中学习，在学习中改善，在改善中升华。
  aside
    img(src='../images/about03.jpg', width='193', height='133', alt='A member of our friendly staff handing out an order to one of our many faithful customers')
  p.indent
    | “濮家饼”是莱达林旗下又一新兴品牌，以生产健康、美味、新鲜的糕点为主，濮家饼秉承莱达林优秀的传统，不断完善、进步自己。精心挑选每一份食材，用真心烘制每一份甜点。不断改进、不断超越、不断领悟。
  p.indent 我们不怕辛苦、不怕困难、不怕艰辛，只为赢得您的肯定、您的赞誉，您的信任。您的意见和建议对我们很重要，有您的参与，我们将更加完美。
  section#card.b
    h3 联系我们
    div(style='width: 200px; display: inline-block;')
      p#qr
        img(src='../images/qr-code.png', width='147', height='147', alt='Keith Cakes" QR Code. You can scan this code with your smartphone to add us to your contact list')
    div(style='display: inline-block;')
      p.tel(style='font-size: 2.2em; font-color: #54301a;') 03 9592 8070
      .adr
        p
          span.street-address 莱达林实业有限公司
          br
          span.locality 上海市
          | ,
          span.region 杨浦区民星路201号
          | ,
          span.postal-code 3186
      p
        span.tel
          span.type
            | F
            span.d ax
          | :
          span.value (03) 9592 4334
      p.e
        | E
        span.d mail
        | :
        a.email.that-thing(href='mailto:%69%6e%66%6f%40%6b%65%69%74%68%63%61%6b%65%73%2e%63%6f%6d%2e%61%75')
          span.that-thing mail@laidalin.com
