extends admin

block content
  table#orders-grid.table.table-bordered.datagrid
      thead
        tr
          th
            span.datagrid-header-title 订单列表
            .datagrid-header-left
            .datagrid-header-right
              .input-append.search
                input.input-medium(type='text', placeholder='Search')
                button.btn
                  i.icon-search
                button.btn#add-new-member
                  i.icon-plus-sign
      tfoot
        tr
          th
            .datagrid-footer-left(style='display: none;')
              .grid-controls
                span
                  span.grid-start
                  | -
                  span.grid-end
                  | of
                  span.grid-count
                select.grid-pagesize
                  option 10
                  option 20
                  option 50
                  option 100
                span Per Page
            .datagrid-footer-right(style='display: none;')
              .grid-pager
                button.btn.grid-prevpage
                  i.icon-chevron-left
                span Page
                .input-append.dropdown.combobox
                  input.span1(type='text')
                  button.btn(data-toggle='dropdown')
                    i.caret
                  ul.dropdown-menu
                span
                  | of
                  span.grid-pages
                button.btn.grid-nextpage
                  i.icon-chevron-right

  script
    $.get('/admin/list_orders', function(data) {
        var dataSource = new StaticDataSource({
          columns : [
            { property : '_id',      label : '订单编号', sortable : true },
            { property : 'products', label : '订单商品', sortable : true },
            { property : 'status',   label : '订单状态', sortable : true },
            { property : 'amount',   label : '订单金额', sortable : true },
            { property : 'time',     label : '时间',    sortable : true },
            { property : 'address',  label : '收货信息', sortable : true },
            { property : 'remark',   label : '备注',     sortable: true },
            { property : 'print',    label : '打印',     sortable: false }
          ],
          data : data,
          delay : 200
        });

        $('#orders-grid').datagrid({
          dataSource : dataSource,
          cellrenderfunc : function(row, prop) {
              var val = row[prop];
              if (prop == 'products') {
                var products = row[prop];
                var description = "<ul>";
                for (var i = 0; i < (products?products.length:0); i++) {
                  var product = products[i];
                  description = description + "<li>" + product.product.name + 
                  "x" + product.quantity + "</li>";
                }
                description += "</ul>";
                val = description;
              } else if (prop == 'address') {
                var address = row[prop] || {};
                var description = "收件人：" + address.name + "<br />" +
                                  "邮编：" + address.zipCode + "<br />" +
                                  "电话：" + address.phone + "<br />" +
                                  "地址：" + address.province + address.city + address.address + "<br />" +
                                  "快递：" + address.deliveryMethod;
                val = description;
              } else if (prop == 'print') {
                val = "<a href='/admin/sheet/" + row['_id'] + "' download='" + row['_id'] + ".png'>出货单</a>";
              }
              return '<a href="#" class="order-' + prop + '" data-pk="' + row._id + 
                     '" data-url="/admin/update_order" data-name="' + prop + '">' + 
                     val + '</a>';
          }
        });

       
      });
    
    $("#orders-grid").on('loaded', function(){
      $(".order-status").each(function(index, element) {
        $(element).editable({
            type : "text",
            title : "输入订单状态"
        });
      });
      $(".order-remark").each(function(index, element) {
        $(element).editable({
          type: "text",
          title: "输入备注"
        });
      })
    });
    