extends admin

block content
  script(src='/js/ckeditor/ckeditor.js')
  form(action="/admin/product/#{product._id}/detail", method="post")
    h3 #{product.name}
    textarea(name="detail") #{product.detail}
    script
      CKEDITOR.replace('detail', {
        language: 'zh-cn',
        filebrowserBrowseUrl: '/admin/uploads/browse',
        filebrowserUploadUrl: '/admin/uploads/upload'
      });
    hr
    input(type="submit", value="保存")
    p
      a(href="/admin/product") 返回产品列表