extends admin

block content
  script(src='/js/ckeditor/ckeditor.js')
  form(action="/admin/product/#{product._id}/detail", method="post")
    h3 #{product.name}
    textarea(name="detail") #{product.detail}
    script
      CKEDITOR.replace('detail', {
        language: 'zh-cn'
      });
    input(type="submit", value="保存")