extends admin

block content
  table#fee-grid.table.table-bordered.datagrid
      thead
        tr
          th
            span.datagrid-header-title 快递费用列表
            .datagrid-header-left
      tfoot
        tr
          th
            .datagrid-footer-left(style='display: none;')
              .grid-controls
                span
                  span.grid-start
                  | -
                  span.grid-end
                  | of
                  span.grid-count
                select.grid-pagesize
                  option 10
                  option 20
                  option 50
                  option 100
                span Per Page
            .datagrid-footer-right(style='display: none;')
              .grid-pager
                button.btn.grid-prevpage
                  i.icon-chevron-left
                span Page
                .input-append.dropdown.combobox
                  input.span1(type='text')
                  button.btn(data-toggle='dropdown')
                    i.caret
                  ul.dropdown-menu
                span
                  | of
                  span.grid-pages
                button.btn.grid-nextpage
                  i.icon-chevron-right

  script
    $.get('/admin/list_express_fee', function(data) {
        var dataSource = new StaticDataSource({
          columns : [
            { property: 'province',                  label: '省市',              sortable: true }, 
            { property: 'sfFee_basicFee',            label: '顺丰基本费用(元)',    sortable: true },
            { property: 'sfFee_basicWeight',         label: '顺丰基本称重(克)',    sortable: true },
            { property: 'sfFee_extraFeeUnit',        label: '顺丰超出单位费用(元)', sortable: true },
            { property: 'sfFee_extraWeightUnit',     label: '顺丰超出单位重量(克)', sortable: true },
            { property: 'othersFee_basicFee',        label: '其它基本费用(元)',    sortable: true },
            { property: 'othersFee_basicWeight',     label: '其它基本称重(克)',    sortable: true },
            { property: 'othersFee_extraFeeUnit',    label: '其它超出单位费用(元)', sortable: true },
            { property: 'othersFee_extraWeightUnit', label: '其它超出单位重量(克)', sortable: true }
          ],
          data : data,
          delay : 200
        });

        $('#fee-grid').datagrid({
          dataSource : dataSource,
          cellrenderfunc : function(row, prop) {
              return '<a href="#" class="fee-' + prop + '" data-pk="' + row._id + 
                     '" data-url="/admin/update_fee" data-name="' + prop + '">' + 
                     row[prop] + '</a>';
          }
        });
      });
    
    $("#fee-grid").on('loaded', function(){
      $(".fee-sfFee_basicFee").each(function(index, element) {
        $(element).editable({
            type : "text",
            title : "输入顺丰基本费用"
        });
      });

      $(".fee-sfFee_basicWeight").each(function(index, element) {
        $(element).editable({
            type : "text",
            title : "输入顺丰基本重量"
        });
      });
      
      $(".fee-sfFee_extraFeeUnit").each(function(index, element) {
        $(element).editable({
            type : "text",
            title : "输入顺丰超出基本重量单位计费"
        });
      });
      
      $(".fee-sfFee_extraWeightUnit").each(function(index, element) {
        $(element).editable({
            type : "text",
            title : "输入顺丰超出基本重量单位"
        });
      });
      
      $(".fee-othersFee_basicFee").each(function(index, element) {
        $(element).editable({
            type : "text",
            title : "输入其它快递基本费用"
        });
      });
      
      $(".fee-othersFee_basicWeight").each(function(index, element) {
        $(element).editable({
            type : "text",
            title : "输入其它快递基本重量"
        });
      });
      
      $(".fee-othersFee_extraFeeUnit").each(function(index, element) {
        $(element).editable({
            type : "text",
            title : "输入其它快递超出基本重量单位计费"
        });
      });
      
      $(".fee-othersFee_extraWeightUnit").each(function(index, element) {
        $(element).editable({
            type : "text",
            title : "输入其它快递超出基本重量单位"
        });
      });
    });