extends admin

block content
  style
    #product-grid {
        margin-top: 20px;
    }
  table#product-grid.table.table-bordered.datagrid
      thead
        tr
          th
            span.datagrid-header-title 产品列表
            .datagrid-header-left
            .datagrid-header-right
              .input-append.search
                input.input-medium(type='text', placeholder='Search')
                button.btn
                  i.icon-search
                button.btn(type="button", data-backdrop="true", data-toggle="modal", data-target="#add-product-modal")
                  i.icon-plus-sign
      tfoot
        tr
          th
            .datagrid-footer-left(style='display: none;')
              .grid-controls
                span
                  span.grid-start
                  | -
                  span.grid-end
                  | of
                  span.grid-count
                select.grid-pagesize
                  option 10
                  option 20
                  option 50
                  option 100
                span Per Page
            .datagrid-footer-right(style='display: none;')
              .grid-pager
                button.btn.grid-prevpage
                  i.icon-chevron-left
                span Page
                .input-append.dropdown.combobox
                  input.span1(type='text')
                  button.btn(data-toggle='dropdown')
                    i.caret
                  ul.dropdown-menu
                span
                  | of
                  span.grid-pages
                button.btn.grid-nextpage
                  i.icon-chevron-right

  .modal.fade#add-product-modal(role="dialog", aria-labelledby="product-modal-label")
    .modal-header
      button.close(type="button", data-dismiss="modal", aria-hidden="true")x
      h3#product-modal-label 添加产品
    .modal-body
        style
          input.larger-text-field, textarea.larger-text-field { width : 300px; }

        form#add-product-form.form-horizontal(action='/admin/add_product', method='post')
            .control-group
              label.control-label(for='product_name') 产品名
              .controls
                input.larger-text-field(type='text', id='product_name', name='product_name', placeholder='产品名')

            .control-group
              label.control-label(for='product_description') 产品简介
              .controls
                textarea.larger-text-field(rows='10', name='product_description', id='product_description')

            .control-group
              label.control-label(for='product_price') 产品价格
              .controls
                input(type='text', placeholder='产品价格', id='product_price', name='product_price')

            .control-group
              label.control-label(for='product_price') 会员价格
              .controls
                input(type='text', placeholder='会员价格', id='product_member_price', name='product_member_price')

            .control-group
              label.control-label(for='product_price') 产品规格
              .controls
                input(type='text', placeholder='产品单位', id='product_unit', name='product_unit')

            .control-group
              label.control-label(for='product_image') 产品图片
              .controls
                input(type='file', name='product_image')

            .control-group
              label.control-label(for="product_kind") 产品种类
              .controls
                select(name="product_kind")
                  option 蛋糕
                  option 巧克力
                  option 点心


    .modal-footer
      button.btn(data-dismiss="modal", aria-hidden="true") 关闭
      button.btn.btn-primary#add-product-button 保存修改
  
  script
    $.get('/admin/list_product', function(data) {
        var dataSource = new StaticDataSource({
          columns : [
            {
              property : 'name',
              label : '商品名称',
              sortable : true
            }, 
            {
              property : 'description',
              label : '描述',
              sortable : true
            }, 
            {
              property : 'price',
              label : '价格',
              sortable : true
            },
            {
              property : "memberPrice",
              label : "会员价",
              sortable : true
            },
            {
              property : 'onDiscount',
              label : '打折中',
              sortable : true
            },
            {
              property : 'onGroupon',
              label : '团购中',
              sortable : true
            }
          ],
          data : data,
          delay : 200
        });

        $('#product-grid').datagrid({
          dataSource : dataSource,
          cellrenderfunc : function(row, prop) {
              return '<a href="#" class="product-' + prop + '" data-pk="' + row._id + 
                     '" data-url="/admin/update_product" data-name="' + prop + '">' + 
                     row[prop] + '</a>';
          }
        });

       
      });
    
    $("#product-grid").on('loaded', function(){
      $(".product-name").each(function(index, element) {
        $(element).editable({
            type : "text",
            title : "输入产品名称"
          });
        });

        $(".product-description").each(function(index, element) {
          $(element).editable({
            type : "textarea",
            title : "输入产品描述"
          });
        });

        $(".product-price").each(function(index, element) {
          $(element).editable({
            type : "text",
            title : "输入产品价格"
          });
        });
    });

    $("#add-product-button").on('click', function() {
      $("#add-product-form").submit();
    });