extends main

block title
  | 购物指南

block sidebar
  form#contact-form(action='/comment', method='post')
    p#p-name
      label(for='name') 名称
      input#name.underline-input(type='text', name='name')
    p#p-email
      label(for='email') 邮件地址
      input#email.underline-input(type='text', name='email')
    p#p-phone
      label(for='phone') 手机号
      input#phone.underline-input(type='text', name='phone')
    p#p-enquiry
      label(for='enquiry') 您的留言
      textarea#enquiry(rows='8', cols='35', name='enquiry')
    p.buttonholder
      button(type='submit')
        span 发送
        
block content
  style
    p { text-indent: 2em; }
    .boldtitle { font-weight: bold; text-indent: none; }

  h4(style="margin-bottom: 8px;") 新手上路
  h5 一、顾客须知：
  p.boldtitle 如何订购商品？
  p 您可以首先浏览我们的网站了解商品。当您找到满意的商品时，您可以直接在我们的网站上实现订购。如果您需要的商品数量大于1件，
    | 可以使用购物车功能，方便您的购买。如果您找到了满意的商品，但想过段时间购买，您可以把该商品加入“我的珍藏”中，以后，
    | 可直接在“我的珍藏”中直接购买。如果您在购买或浏览过程中有任何的疑问可与我们网站的客服人员联系，我们会尽最大的努力帮您服务。
  p.boldtitle 所有的产品都能够在网站上购买吗？
  p
    | 目前，您能在我们网站上查看到的商品，都是可以订购的，但是，部分产品由于保质期的原因，我们是不会备货的，
    | 全都是根据顾客的订单生产后再发货，所以，具体发货的时间，可以与客服人员确认。部分热销商品可能出现短暂断货，
    | 我们会尽力制造，把最好的商品与我们真诚的服务传递到您的手中。
  p.boldtitle 为什么要注册会员？
  p
    ol
      li 为了更好的服务顾客，便于管理与服务，只有注册成为会员后，才能够订购商品；
      li 注册成为会员后，可登陆“会员”、“畅言”等板块，享受会员至高无上的权利；
      li 注册成为会员后，可在我们“畅言”板块中，畅所欲言，发表新帖及浏览论坛；
      li 注册成为会员后，如果我们有新品上架，新的促销计划，我们会以邮件的方式通知您。
  p.boldtitle 忘记密码怎么办？
  p
    | 为了保护客户利益，我们无法看到您的密码。当您忘记密码时，请登录注册页面，点击“忘记密码”，系统会自动将您的密码通过
    | E-mail方式告诉您，您可以登陆“会员”修改您的密码，以确保您的利益。
  p.boldtitle 积分的获得与使用 (暂时未上线)
  p
    | 当您成功购买商品后，系统会根据您购买的金额与商品属性，自动分配积分到您的账户中。对于获得积分的顾客，
    | 可以使用积分进行兑换商品、抵扣价格、升级会员等，具体获得与使用办法，参考“帮助”下《积分获得与使用》。
  
  h5 二、顾客服务
  p
    | 关于我们的产品，送货服务，订单问题，服务时间，您都可以联系我们
  p
    | 由于部分产品的保质期很短，我们无法预知订单，也没有办法做到备货，所以，当我们得知您需要并订购此类商品时，
    | 我们会下单至车间，按先来后到的顺序安排生产，因此，为了您能品尝到更新鲜的产品，可能会耽误您收货的时间，请谅解；
  p
    | 每日订单受理时间为8：30至16：00。超过16：00（以我们系统时间为准）提交的订单将自动转为次日处理；
    | 现在，我们为您开通400*********（工作日8：30至16：30），如遇网络故障，请拨打021-65566594（工作日8：30至16：30）
    | 联系我们。如上述方式均无法联系到我们，您也可以发送电子邮件（laidalin@pujiabing.com），我们会以最快的速度，回复您；
  p
    | 在工作日8：30至16：30期间，您可以通过网站上的在线客服系统，更方便的与我们沟通；
    | 如果您对我们的产品、服务等有任何的不满意或意见建议，欢迎您在我们网站的“畅言”→“顾客留言”中留言，我们会及时给予您答复。
    | 对于您提出的建议，如果我们采纳奖会奉上我们精心为您准备的神秘礼品，有您的参与，我们才能不断成长。
  p
    | 如果您的订单因故需要取消，请提前联系我们，在合理的条件下，我们将为您办理退货/款服务：
  p 支付宝方式订单需取消，请先联系我们客服确认发货状态，若非订制产品，我们将为您办理退单/款手续，支付的货款将从
    | 退单/款之日起1至3个工作日内退还至原支付账户中；
    | 积分、礼券等消费订单需取消，请先联系我们客服确认发货状态，若非订制产品，我们将为您办理退单/款手续，支付所用的积分、
    | 礼券等我们将从退单/款之日起1至3个工作日内退还至您在我们网站 “我的账户”中；
  p 订制产品指：保质期在60天以内或下订单后才生产的商品；
  p 非订制产品指：保质期大于60天的常规商品；
  p 如有疑问，可在订购前咨询我们客服，以免产生不必要的损失。
  h5 三、订单状态：
  p
    | 状态名称	状态释义	定义	反馈信息
    | 等待确认	未确定
    | 已确认
    | 等待付款
    | 已付款
    | 等待取消
    | 已取消
    | 重复订单取消
    | 等待发货
    | 已发货
    | 等待退款
    | 已退款
    | 归档
  h5 四、商品保障及售后服务：
  p.boldtitle 符合以下条件，可申请换货：
  ol
    li 顾客在收到货物时当面在送货员面前拆包检查，发现货物有质量问题的；
    li 实际收到的货物与网站上描述的有很大的出入的。
  注：换货流程：客户当面要求送货人员退回货物，然后与我们联系。我们会为您重新发货，货物到达时间将顺延。
  p.boldtitle 换货受理期限：
  p 商品到达后24小时内。
  p.boldtitle 换货运费规定：
  ol
    li 对于产品自身质量问题产生的换货，我公司将提供免费服务；
    li 对于非产品质量问题，在符合换货条件的情况下如需换货，商品经我司鉴定属非产品质量问题，客户需要支付送货费。
  p.boldtitle 退/换货条件：
    ol
      li 商品有良好的外包装，未经使用，完好无损，不影响再次销售，包括赠品等齐全，我们将提供1次换货机会，换货来回的运费需客户自理；
      li 赠品非产品自身质量问题，不予换货；
      li 退换货时，不符合活动规则或金额的，须同时退回赠品，否则客户需按赠品的原价购买；
      li 退换货时赠品缺失，则需按原价购买；
      li 当商品发生自身质量问题时，我们将免费为您换货，对于给您带来的损失我们将赔偿您不低于问题产品价值100%的商品作为补偿。
      li 在以下情况我们有权拒绝顾客的退换货要求：
        ol(type="a")
          li 货物出现破损，但没有在收货时当场要求送货人员换货的；
          li 超过退换货期限的退换货要求；
          li 退换货物不全或外观受损；
          li 客户发货单据丢失或者不全；
          li 产品并非我们网站商品或并非我们提供商品；
          li 货物本身不存在质量问题的，且顾客不予支付来回运费的。

  h5 五、购物指南：
  p 购物流程：1.搜索/浏览商品2.加入购物车3.结账并付款4.收货评价
  p.boldtitle 怎样注册？
  p 您可以直接点击首页登录区“立即登录”或首页“会员”进行注册。注册过程很简便，您只需按注册向导的要求输入基本信息即可。为了今后能为您更好的服务，请务必填写真实有效的信息，对于您填写的真实信息，我们将为您保密。输入的账号要求4~10位，可使用英文字母、数字、中划线“-”；
  p.boldtitle 怎样成为会员？
  p 您可以直接点击首页登录区“立即登录”或首页“会员”进行注册。注册过程很简便，您只需按注册向导的要求输入基本信息即可。请您填写完毕后，务必核对填写内容的准确性，并谨记您的会员账号与密码，以便您查询订单，使用我们为您提供的会员服务。对于网站提供予您的服务，我们为了您账户的安全，会让你使用会员名与密码核对您的身份，带来不便，请谅解。
  p.boldtitle 如何在网站下单购买？
  p 在我们网站购买商品的方式与您在超市购买商品的方式十分相似，您可以在首页“产品”进入后，按照分类找到您所心仪的商品，点击商品可以查看该商品相关信息，如果您心仪，可以点击“我的珍藏”予以收藏，如果您想购买，可以点击“购物车”，当您浏览完所有您心仪商品后，可进入“购物车”中核对您选择的商品，确认无误后，可点击“买单”，按照提示完成付款即可。随着您的关怀，我们会不断完善我们的商品链，在您浏览商品时，在每页的左侧都会设立详细明了的导航条，您是不会迷路的。
  p.boldtitle 关于验货：目前我们提供的送货方式仅限于快递，在快递员送货上门时，请您务必当面对照发货单核对商品，如果出现商品数量缺少、商品外包装损坏，您有权拒收，并当场拨打*******售后服务热线与我们联系，我们将与您确定一个您满意的处理方式。包括办理补货事宜、退还缺失商品的金额或整单商品的退货。若订单中含有赠品，请一并退回。如无异意请在送货单上签字确认。一旦您确认签字，我们将无法为您办理退换或补发。