extends main

block sidebar
  form#contact-form(action='index.html', method='post')
    p#p-name
      label(for='name') 名称
      input#name(type='text', name='name')
    p#p-email
      label(for='email') 邮件地址
      input#email(type='text', name='email')
    p#p-phone
      label(for='phone') 手机号
      input#phone(type='text', name='phone')
    p#p-enquiry
      label(for='enquiry') 您的留言
      textarea#enquiry(rows='8', cols='35', name='enquiry')
    p.buttonholder
      button(type='submit')
        span 发送
block content
  h1
    | 1.新手上路
    p
      | ①	顾客须知：
    p
      | 如何订购商品？
    | 您可以首先浏览我们的网站了解商品。当您找到满意的商品时，您可以直接在我们的网站上实现订购。如果您需要的商品数量大于1件，可以使用购物车功能，方便您的购买。如果您找到了满意的商品，但想过段时间购买，您可以把该商品加入“我的珍藏”中，以后，可直接在“我的珍藏”中直接购买。如果您在购买或浏览过程中有任何的疑问可与我们网站的客服人员联系，我们会尽最大的努力帮您服务。
    p
      | 所有的产品都能够在网站上购买吗？
    p
      | 目前，您能在我们网站上查看到的商品，都是可以订购的，但是，部分产品由于保质期的原因，我们是不会备货的，全都是根据顾客的订单生产后再发货，所以，具体发货的时间，可以与客服人员确认。部分热销商品可能出现短暂断货，我们会尽力制造，把最好的商品与我们真诚的服务传递到您的手中。
    p
      | 为什么要注册会员？
    p
      | ⒈为了更好的服务顾客，便于管理与服务，只有注册成为会员后，才能够订购商品；
      | ⒉注册成为会员后，可登陆“会员”、“畅言”等板块，享受会员至高无上的权利；
      | ⒊注册成为会员后，可在我们“畅言”板块中，畅所欲言，发表新帖及浏览论坛；
      | ⒋注册成为会员后，如果我们有新品上架，新的促销计划，我们会以邮件的方式通知您。
    p
      | 忘记密码怎么办？
    p
      | 为了保护客户利益，我们无法看到您的密码。当您忘记密码时，请登录注册页面，点击“忘记密码”，系统会自动将您的密码通过E-mail方式告诉您，您可以登陆“会员”修改您的密码，以确保您的利益。
    p
      | 积分的获得与使用
    p
      | 当您成功购买商品后，系统会根据您购买的金额与商品属性，自动分配积分到您的账户中。对于获得积分的顾客，可以使用积分进行兑换商品、抵扣价格、升级会员等，具体获得与使用办法，参考“帮助”下《积分获得与使用》。
    p
      | ②	顾客服务
    p
      | 关于我们的产品，送货服务，订单问题，服务时间……，您都可以联系我们
    p
      | 由于部分产品的保质期很短，我们无法预知订单，也没有办法做到备货，所以，当我们得知您需要并订购此类商品时，我们会下单至车间，按先来后到的顺序安排生产，因此，为了您能品尝到更新鲜的产品，可能会耽误您收货的时间，请谅解；
    p
      | 每日订单受理时间为8：30至16：00。超过16：00（以我们系统时间为准）提交的订单将自动转为次日处理；
      | 现在，我们为您开通400*********（工作日8：30至16：30），如遇网络故障，请拨打021-65566594（工作日8：30至16：30）联系我们。如上述方式均无法联系到我们，您也可以发送电子邮件（***@laidalin.com），我们会以最快的速度，回复您；
    p
      | 在工作日8：30至16：30期间，您可以通过网站上的在线客服系统，更方便的与我们沟通；
      | 如果您对我们的产品、服务等有任何的不满意或意见建议，欢迎您在我们网站的“畅言”→“顾客留言”中留言，我们会及时给予您答复。对于您提出的建议，如果我们采纳奖会奉上我们精心为您准备的神秘礼品，有您的参与，我们才能不断成长。
    p
      | 如果您的订单因故需要取消，请提前联系我们，在合理的条件下，我们将为您办理退货/款服务：
      | 支付宝方式订单需取消，请先联系我们客服确认发货状态，若非订制产品，我们将为您办理退单/款手续，支付的货款将从退单/款之日起1至3个工作日内退还至原支付账户中；
      | 积分、礼券等消费订单需取消，请先联系我们客服确认发货状态，若非订制产品，我们将为您办理退单/款手续，支付所用的积分、礼券等我们将从退单/款之日起1至3个工作日内退还至您在我们网站 “我的账户”中；
    p
      | 订制产品指：保质期在60天以内或下订单后才生产的商品；
      | 非订制产品指：保质期大于60天的常规商品；
      | 如有疑问，可在订购前咨询我们客服，以免产生不必要的损失。
    p
      | ③	订单状态：
    p
      | 状态名称	状态释义	定义	反馈信息
      | 等待确认	未确定
      | 已确认
      | 等待付款
      | 已付款
      | 等待取消
      | 已取消
      | 重复订单取消
      | 等待发货
      | 已发货
      | 等待退款
      | 已退款
      | 归档
    p
      | ④	商品保障及售后服务：
    p
      | 一、符合以下条件，可申请换货：
      | ⒈顾客在收到货物时当面在送货员面前拆包检查，发现货物有质量问题的；
      | ⒉实际收到的货物与网站上描述的有很大的出入的。
      | 注：换货流程：客户当面要求送货人员退回货物，然后与我们联系。我们会为您重新发货，货物到达时间将顺延。
    p
      | 二、换货受理期限：
      | 商品到达后24小时内。
    p
      | 三、换货运费规定：
      | ⒈对于产品自身质量问题产生的换货，我公司将提供免费服务；
      | ⒉对于非产品质量问题，在符合换货条件的情况下如需换货，商品经我司鉴定属非产品质量问题，客户需要支付送货费。
    p
      | 四、退/换货条件：
      | ⒈商品有良好的外包装，未经使用，完好无损，不影响再次销售，包括赠品等齐全，我们将提供1次换货机会，换货来回的运费需客户自理；
      | ⒉赠品非产品自身质量问题，不予换货；
      | ⒊退换货时，不符合活动规则或金额的，须同时退回赠品，否则客户需按赠品的原价购买；
      | ⒋退换货时赠品缺失，则需按原价购买；
      | ⒌当商品发生自身质量问题时，我们将免费为您换货，对于给您带来的损失我们将赔偿您不低于问题产品价值100%的商品作为补偿。
      | ⒍在以下情况我们有权拒绝顾客的退换货要求：
      | ⑴货物出现破损，但没有在收货时当场要求送货人员换货的；
      | ⑵超过退换货期限的退换货要求；
      | ⑶退换货物不全或外观受损；
      | ⑷客户发货单据丢失或者不全；
      | ⑸产品并非我们网站商品或并非我们提供商品；
      | ⑹货物本身不存在质量问题的，且顾客不予支付来回运费的。
    pre.
      \n⑤\t积分获得与使用
      积分规则
      第一条 定义 
      网站：指上海莱达林实业有限公司官方网站。 
      商品：指网站对外出售和提供的商品。 
      顾客：指通过浏览了解了网站上的商品信息，并希望购买或已经购买网站商品的消费者。 
      积分：指消费者在购买网站的商品并支付货款后，根据网站公布的每件货品所获得的可以在以后的购买中冲抵货款或调换赠品的积分；以及网站进行特别活动时授予顾客的促销积分或奖励积分。 
      可积分商品：购买后可获得一定数额积分的商品。 
      第二条 积分点数的确定和公布 
      网站根据商品售价和相关费用为每件商品确定一个积分点数。同一商品的积分点数得以因市场因素的变化而随时变动。 
      网站在根据前项的规定确定每件商品的积分点数后，将在网站各商品明细页面中将积分点数予以公布。未标明积分点数或积分点数为 0 的商品为不可积分商品。 
      第三条 积分点数的计算和累计 
      顾客在每次购买商品后即可根据网站针对该商品所公布的积分点数获得相应积分。 
      网站授予顾客积分以顾客的付款行为为前提。顾客可通过网站查询货物配送信息，网站将自配送完成状态生成之时起（即：订单状态为“归档”）24小时内，按照顾客所购商品的积分点数授予积分，并登记在“我的账户”中。 
      顾客可以通过网站中“会员”对自己的积分情况进行查询。 
      顾客多次购买商品所获得的积分可以累计计算。顾客每次购买商品所获得积分的有效期自积分获得当日起至次年当月的最后一日止（注：如顾客2012年1月1日获得的积分，有效期截止2013年1月31日）。特别积分的有效期，按照网站公布的特别说明确定。 
      第四条 积分的使用 
      当积分已达到某一兑换积分标准时，顾客可将累计积分依照网站相应积分及兑换标准兑换回馈商品，网站将即时从用户账户积分中扣减相应积分。
      各项回馈项目（包含各项商品、服务或抵用券等）及兑换标准及兑换规则均以兑换当时最新回馈活动公告或目录为准。
      部分兑换商品有数量限制的，兑完为止。
      公告或目录如有有效期限的，逾期即不得兑换。
      积分兑换区的商品为只可用积分兑换的商品（如积分价格：100积分）。
      积分可以单独用以支付全部货款，也可以和网站允许的其他结算方式（如网上支付；积分、充值、礼券使用；线下支付等）一并使用。 
      顾客在一次购买一件商品时方可使用积分。 
      网站在接到顾客购物时使用积分的通知后，将在送货单据上载明应付货款金额和使用积分点数。 
      在结算页面中，顾客可以选择付款方式并填写使用积分数量，网站经过核实、确认后，顾客只需按照货款扣除积分使用点数后的金额向网站支付货款，网站在收到货款并核对无误后安排配送，并在送货单据上载明货款金额和使用积分点数。 
      注：采取邮政汇款方式的顾客应在汇款单的备注栏中写明需要使用的积分点数。经网站核实无误后会自动帮顾客扣除账户内累积积分的数额。若顾客未向网站告知使用积分的具体点数，造成公司因未能及时扣除顾客积分而要求顾客按照商品价格全额付款的，顾客应当全额付款。 
      若顾客在明知其累计积分点数不足的情况下，仍然以超出其累计积分的数额要求使用积分，因此造成网站交货延迟或无法交货的，网站不承担责任。 
      第五条 退、换货情况下的积分累计问题 
      顾客在对网站出售或提供的商品质量存在异议，要求网站进行退、换货时，其积分将根据不同情况作出如下处理：
      顾客在网站向其送货时拒绝接受货物的，网站将不再按照客户原有通知扣除其累计积分点数，若积分已经被扣除的，网站将予以恢复；对于客户基于当次交易所应当获得的积分点数，网站也将不予授予，已经授予的，网站将予以扣除。 
      客户在收到商品后提出退换货要求的，经网站对商品质量审查或经双方协商，网站同意予以退换货的，若网站尚未扣除其累计积分点数的将不再扣除，若已经扣除的，网站将予以恢复；对于客户基于当次交易所应当获得的积分点数，网站也将不予授予，已经授予的，网站将予以扣除。 
      在本条所述网站对商品质量进行审查的期间和双方协商期间，客户的积分暂时保持原有状态（即累计积分未扣除的暂不扣除，已扣除的暂不恢复；当次所应获得的积分点数未授予的暂不授予，已授予的暂不扣除）。 
      因商品质量或其他原因而引起的同型号同规格商品的调换不影响积分的授予和使用。 
      第六条 积分的依据和积分的异议 
      网站以付款凭证作为每个顾客积分累计和使用的依据。 
      为了避免网站工作失误给顾客造成的积分损失，每个顾客均应妥善保管向网站购买商品的历次交易单据，一旦顾客认为网站对其积分累计和使用情况的记载存在错误，即可凭有关付款凭证和送货凭证要求公司予以更正。 
      若顾客认为网站对其积分累计和使用情况的记载存在错误，可以通过网站或客户服务热线向网站提出异议。 
      网站在收到顾客关于积分异议后，应当立即对该顾客的积分累计和使用情况予以核实，并在 3 个工作日内作出处理决定并告知顾客。 
      第七条 其他  
      随着网站购物积分活动的开展和情况的变化，网站将不定时地制定补充规则以对本规则进行更改和完善。 
      顾客因参加网站开展的促销、奖励、赠与等活动而获得的积分，其具体条件和使用方式按照网站分别发布的活动公告、通知为准。 
      在法律允许范围内，本规则之最终解释权归网站所有
      
      2.购物指南：
      ①购物流程：1.搜索/浏览商品2.加入购物车3.结账并付款4.收货评价
                  怎样注册？
      您可以直接点击首页登录区“立即登录”或首页“会员”进行注册。注册过程很简便，您只需按注册向导的要求输入基本信息即可。为了今后能为您更好的服务，请务必填写真实有效的信息，对于您填写的真实信息，我们将为您保密。输入的账号要求4~10位，可使用英文字母、数字、中划线“-”；
                  怎样成为会员？
      您可以直接点击首页登录区“立即登录”或首页“会员”进行注册。注册过程很简便，您只需按注册向导的要求输入基本信息即可。请您填写完毕后，务必核对填写内容的准确性，并谨记您的会员账号与密码，以便您查询订单，使用我们为您提供的会员服务。对于网站提供予您的服务，我们为了您账户的安全，会让你使用会员名与密码核对您的身份，带来不便，请谅解。
                  如何在网站下单购买？
      在我们网站购买商品的方式与您在超市购买商品的方式十分相似，您可以在首页“产品”进入后，按照分类找到您所心仪的商品，点击商品可以查看该商品相关信息，如果您心仪，可以点击“我的珍藏”予以收藏，如果您想购买，可以点击“购物车”，当您浏览完所有您心仪商品后，可进入“购物车”中核对您选择的商品，确认无误后，可点击“买单”，按照提示完成付款即可。随着您的关怀，我们会不断完善我们的商品链，在您浏览商品时，在每页的左侧都会设立详细明了的导航条，您是不会迷路的。
      
      ②关于验货：
      目前我们提供的送货方式仅限于快递，在快递员送货上门时，请您务必当面对照发货单核对商品，如果出现商品数量缺少、商品外包装损坏，您有权拒收，并当场拨打*******售后服务热线与我们联系，我们将与您确定一个您满意的处理方式。包括办理补货事宜、退还缺失商品的金额或整单商品的退货。若订单中含有赠品，请一并退回。如无异意请在送货单上签字确认。一旦您确认签字，我们将无法为您办理退换或补发。