!!! 5
//if IE 7 
  html.no-js.ie7(lang='en')  
//if IE 8 
  html.no-js.ie8(lang='en')  
//if IE 9 
  html.no-js.ie9(lang='en')  
// [if (gt IE 9)|!(IE)] <!
html.no-js(lang='en', xmlns='http://www.w3.org/1999/xhtml')
  // <![endif]
  head
    meta(charset='utf-8') 
    title
      block title
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='stylesheet', href='/css/css/style.css')
    link(rel='stylesheet', href='/css/css/chat.css')
    block extracss
    script(src='/js/modernizr-1.6.min.js')
    script(src='/js/jquery.js')
    script(src='/js/address.js')
    // script(src='/js/chat.js')
  body
    header
      .wrapper
        h1
          a.img(href='/index.html', title='Go back to the homepage')  Homemade Cakes
        nav
          ul
            li#m-home
              a.img(href='/index.html') Home
            li#m-about
              a.img(href='/about') About Us
            li#m-product
              a.img(href='/products') Products
            li#m-member
              a.img(href='/member') Member
            li#m-guide
              a.img(href='/guide') Guide
            li#m-weibo
              a#weibo-icon(href='http://weibo.com', target='_blank') weibo
            li#m-shoppingcart
              a#shoppingcart-icon(href='/cart') Shopping Cart
    .wrapper.content
      section#sidebar.parented
        block sidebar
          nav
            ul#sidenav.coral
              li
                a(href='/products/chocolates') 巧克力
              li
                a(href='/products/candies') 糖果
              li
                a(href='/products/cakes') 糕点 
            a.b(href='/files/keith-cakes-brochure.pdf')
              h4.coral Need catering?
              p.imgcat
                img(src='/images/catering-mini.png', width='101', height='82', alt='')
              p 下载产品目录
              
            //.contact-service
            //  a(href="javascript: chatWith('')") 在线咨询

      section#main
        block content
        
    .not-home
      footer
        .wrapper.separator
          .vcard
        section#copyright
          .wrapper
            p © Copyright 2013 濮家饼
      script
        SROOTPATH = '/'
      script(src='/js/jquery.js')
      script(src='/js/plugins.js')
      script(src='/js/init.js')
      script
        var section = window.location.pathname.split("/")[1];
        var elem;
        switch(section) {
          case "about":
            elem = $('#m-about a');
            break;
          case "member":
            elem = $("#m-member a");
            break;
          case "products":
            elem = $("#m-product a");
            break;
          case "guide":
            elem = $("#m-guide a");
            break;
          default:
        }
        elem.addClass('active');
