extends main

block content
  p.breadcrumbs
    a(href='index.html') 产品列表
    | > 今日特惠
  ul#product-list
    li
      a.m(href='../images/products/Round-sponge-chocolate-smarties-cake-175.jpg')
        img(src='../images/Round-sponge-chocolate-smarties-cake-175.jpg', alt='Round mud cake')
        h4 产品1
      p 折扣信息1
      p.view
        span.img 添加到购物车
    li
      a.m(href='../images/products/Square-Sponge-Floral-Cake-171.jpg')
        img(src='../images/Square-Sponge-Floral-Cake-171.jpg', alt='Floral square sponge ')
        h4 产品2
        p 折扣信息2
        p.view
          span.img 添加到购物车
    li
      a.m(href='../images/products/Square-Sponge-Fruit-Nuts-Cake-172.jpg')
        img(src='../images/Square-Sponge-Fruit-Nuts-Cake-172.jpg', alt='Fruity Square Sponge')
        h4 产品3
        p 折扣信息3
        p.view
          span.img 添加到购物车
  p.breadcrumbs
    a(href='index.html') 产品列表
    | > 今日团购
  ul#product-list
    li
      a.m(href='../images/products/Round-sponge-chocolate-smarties-cake-175.jpg')
        img(src='../images/Round-sponge-chocolate-smarties-cake-175.jpg', alt='Round mud cake')
        h4 产品1
        p 团购信息1
        p.view
          span.img 添加到购物车
    li
      a.m(href='../images/products/Square-Sponge-Floral-Cake-171.jpg')
        img(src='../images/Square-Sponge-Floral-Cake-171.jpg', alt='Floral square sponge ')
        h4 产品2
        p 团购信息2
        p.view
          span.img 添加到购物车
    li
      a.m(href='../images/products/Square-Sponge-Fruit-Nuts-Cake-172.jpg')
        img(src='../images/Square-Sponge-Fruit-Nuts-Cake-172.jpg', alt='Fruity Square Sponge')
        h4 产品3
        p 团购信息3
        p.view
          span.img 添加到购物车