extends main

block content
  h3 Catering
  p.breadcrumbs
    a(href='../index.html') 产品列表
    | > 糕点
  ul#product-list
    li
      a.m(href='../../images/products/catering-selection-sandwiches-salad-176.jpg')
        img(src='../../images/products/thumb-agecake.png', alt='Catering selection salad sandwiches')
        h4 福桃
        p
          | 福桃简介
        p.view
          span.img 查看
    li
      a.m(href='../../images/products/freshly-made-ham-sandwich-182.jpg')
        img(src='../../images/products/thumb-peachcake.png', alt='Freshly-made Ham Sandwich')
        h4 桃酥
        p 桃酥的简单介绍
        p.view
          span.img 查看
    li
      a.m(href='../../images/products/freshly-made-sandwiches-chicken-181.jpg')
        img(src='../../images/products/thumb-rabbitcake.png', alt='Freshly-made Chicken Sandwich')
        h4 兔子饼
        p 兔子饼简介
        p.view
          span.img 查看
    li
      a.m(href='../../images/products/freshly-made-roll-ham-178.jpg')
        img(src='../../images/products/thumb-redbeancake.png', alt='Freshly-made Ham Roll')
        h4 红豆酥
        p 红豆酥简介 
        p.view
          span.img 查看
    li
      a.m(href='../../images/products/freshly-made-roll-veg-177.jpg')
        img(src='../../images/products/thumb-tuanyuancake.png', alt='Freshly-made Salad Roll')
        h4 团圆娑
        p 白芸豆、小麦粉、起酥油、白砂糖、黄油、奶粉、鸡蛋、
        p.view
          span.img 查看
    li
      a.m(href='../../images/products/freshly-made-roll-chicken-179.jpg')
        img(src='../../images/products/thumb-chickencake.png', alt='Freshly-made Chicken Roll')
        h4 鸡仔饼
        p
          | 鸡仔饼简介
        p.view
          span.img 查看

    each product in products
      li
        a.m(href='../../images/products/freshly-made-roll-chicken-179.jpg')
          img(src='../../images/products/thumb-chickencake.png', alt='Freshly-made Chicken Roll')
          h4 #{product.name}
          if user
            p #{product.price}
          else
            p
              a(href='/member/login') 登录查看价格
          p #{product.description}
          p.view
            span.img 查看
