!!! 5
//if IE 7 
  html.no-js.ie7(lang='en')  
//if IE 8 
  html.no-js.ie8(lang='en')  
//if IE 9 
  html.no-js.ie9(lang='en')  
// [if (gt IE 9)|!(IE)] <!
html.no-js(lang='en', xmlns='http://www.w3.org/1999/xhtml')
  // <![endif]
  head
    meta(charset='utf-8')
    //
       ***************************************************************
          Nice of you to drop by!                                                                            
          This site has been Lovingly developed, designed and crafted by
          Koodoz Design. Visit us at www.koodoz.com.au
                MMM,                               MMMM   MMM               
               MMMM                               MMMM   MMM                
               MMMM                               MMMY                      
               MMM =MMM MMMMMMMM  MMMMMMMM  MMMMMMMMM MMMMMMM8,MMMMMMM      
              MMMMMMMI MMMM  MMM MMMM  MMM MMMM  MMM MMM  $MMM   MMMM       
              MMM+MMM  MMM  :MMMZMMM  DMMMMMMM  8MMMMMMM  MMMM  MMMM        
              MMM MMMM~MMM  MMMMMMMM  MMMMMMMM  MMMMMMMM  MMMD MMM$         
             MMMM MMMM MMMMMMMM  MMMMMMMM  MMMMMMMM  MMMMMMMM~MMMMMMM       
      **************************************************************** 
    title
      | Freshly-made Sandwich Platters available for Functions and Corporate Catering | Catering | Keith Homemade Cakes
    meta(name='description', content='Keith Homemade Cakes - an iconic bakery based in Brighton, specialise in making Birthday Cakes, Celebration Cakes, Dessert Cakes and other classic sweet and savoury baked treats')
    meta(name='keywords', content='Keith Homemade Cakes, Keith Home Made Cakes, Home-made, Shop of Quality, Birthday Cakes, Children"s Cakes, Celebration, Cakes, Desserts, Savouries, Pies, Pasties, Sausage Rolls, Party Pies, Party Sausage Rolls, Corporate Catering, Catering Services, Sandwiches, Salad Rolls, Health Cakes, Cupcakes, Mini Cupcakes, Muffins, Gluten Free, Treats, Sweets, Biscuits, Cookies, Chocolate Cakes, Mud Cakes, Cheesecakes, Black Forest, Gateau, Sponge Cakes, Mousse Cakes, Coffee, Brighton, Melbourne')
    link(rel='shortcut icon', href='../../favicon.ico')
    link(rel='stylesheet', href='../../css/css/style.css')
    script(src='../../js/modernizr-1.6.min.js')
  body#products
    header
      .wrapper
        h1
          a.img(href='../../index.html', title='Go back to the homepage') Keith Homemade Cakes
        nav
          ul
            li#m-home
              a.img(href='../../index.html') Home
            li#m-about
              a.img(href='../../about/index.html') About Us
            li#m-range
              a.img.active(href='../index.html') Our Range
            li#m-catering
              a.img(href='../../member/index.html') Catering
            li#m-contact
              a.img(href='../../contact/index.html') Contact
            li#m-facebook
              a#facebook-icon(href='https://www.facebook.com/pages/Keith-Homemade-Cakes/160929470650809', target='_blank') facebook
    .wrapper.content
      section#sidebar
        nav
          ul#sidenav.coral
            li
              a(href='../chocalates/index.html') 巧克力
            li
              a(href='../candies/index.html') 糖果
            li
              a.active(href='../cakes/index.html') 糕点
          a.b(href='../../files/keith-cakes-brochure.pdf')
            h4.coral Need catering?
            p.imgcat
              img(src='../../images/catering-mini.png', width='101', height='82', alt='')
            p 下载产品目录
        //
           h3>Our Range</h3>
          	<p class="intro">We offer an unrivalled range of speciality cakes perfect for entertaining guests, a family treat or a little self indulgence.</p 
      section#main
        h3 Catering
        p.breadcrumbs
          a(href='../index.html') 产品列表
          | > 糕点
        ul#product-list
          li
            a.m(href='../../images/products/catering-selection-sandwiches-salad-176.jpg')
              img(src='../../images/products/thumb-agecake.png', alt='Catering selection salad sandwiches')
              h4 福桃
              p
                | Our made-to-order sandwiches are crammed with market-fresh ingredients. They're available in your choice of white, multigrain, or wholemeal bread on 16, 32 or 48 point platters.
              p.view
                span.img View
          li
            a.m(href='../../images/products/freshly-made-ham-sandwich-182.jpg')
              img(src='../../images/products/thumb-peachcake.png', alt='Freshly-made Ham Sandwich')
              h4 桃酥
              p 桃酥的简单介绍
              p.view
                span.img View
          li
            a.m(href='../../images/products/freshly-made-sandwiches-chicken-181.jpg')
              img(src='../../images/products/thumb-rabbitcake.png', alt='Freshly-made Chicken Sandwich')
              h4 兔子饼
              p A classic combination of tender chicken pieces and crisp salad greens.
              p.view
                span.img View
          li
            a.m(href='../../images/products/freshly-made-roll-ham-178.jpg')
              img(src='../../images/products/thumb-redbeancake.png', alt='Freshly-made Ham Roll')
              h4 红豆酥
              p It's the freshness of the ham that gives our ham roll the edge. 
              p.view
                span.img View
          li
            a.m(href='../../images/products/freshly-made-roll-veg-177.jpg')
              img(src='../../images/products/thumb-tuanyuancake.png', alt='Freshly-made Salad Roll')
              h4 团圆娑
              p 白芸豆、小麦粉、起酥油、白砂糖、黄油、奶粉、鸡蛋、高麦芽糖浆、炼乳、海藻糖、食用盐、食品添加剂（山梨糖醇）
              p.view
                span.img View
          li
            a.m(href='../../images/products/freshly-made-roll-chicken-179.jpg')
              img(src='../../images/products/thumb-chickencake.png', alt='Freshly-made Chicken Roll')
              h4 鸡仔饼
              p
                | Moist and flavoursome, our chicken and salad chicken roll is a complete meal in itself.
              p.view
                span.img View
        p.breadcrumbs
          a(href='../index.html') Our Range
          | > Catering
        //
           
          						
    // /.wrapper
    span.skirt
      // and so the empty span element says: "-What's wrong with a little ambiguity? It's not like we're in Germany during the early 1940s. Can you imagine living in a place where the government mandates even the days in which you're allowed to take showers?"
    footer
      .wrapper.separator
        h3 Visit us and try our delicious range
        p
          | Take time out of your busy day to enjoy a delicious meal or coffee and cake in our al fresco dining area.
        section#hours
          h4.coral Open…
          ul.vevent
            li
              abbr.summary(title='Opening hours for Monday') Mon:
              time.dtstart(title='2012-11-05T06:00:00', datetime='2012-11-05T06:00:00') 6:00am
              | –
              time.dtend(title='2012-11-05T17:30:00', datetime='2012-11-05T17:30:00') 5:30pm
            li
              abbr.summary(title='Opening hours for Tuesday') Tue:
              time.dtstart(title='2012-11-06T06:00:00', datetime='2012-11-06T06:00:00') 6:00am
              | –
              time.dtend(title='2012-11-06T17:30:00', datetime='2012-11-06T17:30:00') 5:30pm
            li
              abbr.summary(title='Opening hours for Wednesday') Wed:
              time.dtstart(title='2012-11-07T06:00:00', datetime='2012-11-07T06:00:00') 6:00am
              | –
              time.dtend(title='2012-11-07T17:30:00', datetime='2012-11-07T17:30:00') 5:30pm
            li
              abbr.summary(title='Opening hours for Thursday') Thu:
              time.dtstart(title='2012-11-01T06:00:00', datetime='2012-11-01T06:00:00') 6:00am
              | –
              time.dtend(title='2012-11-01T17:30:00', datetime='2012-11-01T17:30:00') 5:30pm
            li
              abbr.summary(title='Opening hours for Friday') Fri:
              time.dtstart(title='2012-11-02T06:00:00', datetime='2012-11-02T06:00:00') 6:00am
              | –
              time.dtend(title='2012-11-02T17:30:00', datetime='2012-11-02T17:30:00') 5:30pm
            li
              abbr.summary(title='Opening hours for Saturday') Sat:
              time.dtstart(title='2012-11-03T06:00:00', datetime='2012-11-03T06:00:00') 6:00am
              | –
              time.dtend(title='2012-11-03T14:30:00', datetime='2012-11-03T14:30:00') 3:00pm
          p
            a#fb-footer(href='https://www.facebook.com/pages/Keith-Homemade-Cakes/160929470650809', target='_blank') Like us on Facebook
        .vcard
          h4.coral
            a(href='http://www.keithcakes.com.au/products/catering/contact/')
              | Contact
              span.fn.org Keith Cakes
          p.tel 03 9592 8070
          .adr
            p
              span.street-address 46 Church Street
              br
              span.locality Middle Brighton
              | ,
              span.region VIC
              | ,
              span.postal-code 3186
          p
            span.tel
              span.type
                | F
                span.d ax
              | :
              span.value (03) 9592 4334
          p.e
            | E
            span.d mail
            | :
            a.email.that-thing(href='mailto:%69%6e%66%6f%40%6b%65%69%74%68%63%61%6b%65%73%2e%63%6f%6d%2e%61%75')
              span.that-thing ua.moc.sekachtiek@ofni
        // /.vcard
      // /.wrapper.separator
      section#copyright
        .wrapper
          p © Copyright 2012 Keith Homemade Cakes
          p#koodoz
            a(href='http://www.koodoz.com.au', title='Web design Melbourne')
              strong
                | Web Design
                span Melbourne
            | &
            a(href='http://www.koodoz.com.au/services/internet-marketing/', title='SEO Melbourne')
              strong
                | SEO
                span Melbourne
            | by Koodoz Design
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js')
    script(src='http://maps.google.com/maps/api/js?sensor=false')
    script
      //<![CDATA[
      !window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.4.2.min.js"%3E%3C/script%3E'));
      //]]>
    script
      SROOTPATH = '/'
    script(src='../../js/plugins.js')
    script(src='../../js/init.js')
    script
      //<![CDATA[
      var _gaq = [['_setAccount', 'UA-3019794-38'], ['_trackPageview']];
      (function(d, t) {
      var g = d.createElement(t),
      s = d.getElementsByTagName(t)[0];
      g.async = true;
      g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g, s);
      })(document, 'script');
      //]]>
